<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X_UA_Compatible" content="ie=edge" />
	<title>add plan</title>
	
	<script type="text/javascript" src="js/jquery-1.8.0.min.js"></script>
</head>
<body>
	<form id="addPlanForm" onSubmit="javascript:return false">
		<input id="itemSize" name="itemSize" type="hidden" value="3" />
		主任务名：<input id="planName" name="planName" type="text" /><br/>
		次任务名：<input id="itemName1" name="itemName1" type="text" />分数：<input id="itemPoint1" name="itemPoint1" type="text" placeholder="为空默认给0" /><br/>
		次任务名：<input id="itemName2" name="itemName2" type="text" />分数：<input id="itemPoint2" name="itemPoint2" type="text" placeholder="为空默认给0" /><br/>
		次任务名：<input id="itemName3" name="itemName3" type="text" />分数：<input id="itemPoint3" name="itemPoint3" type="text" placeholder="为空默认给0" /><br/>
		<button onclick="savePlan()">保存</button><button>继续添加</button>
	</form>
	
	<script type="text/javascript">
	
	function savePlan(){
		var data = getPlanData();
		var jsonData = JSON.stringify(data);
		$.ajax({
			type : "post",
			url : "/savePlan",
			data : jsonData,
			contentType : "application/json",
			dataType : "json",
			success : function(data){console.log(data)},
			error : function() {
				console.log("请求服务器出错!请检查网络连接");
			}
		});
	}
	
	var bean = {};
	bean.itemSize = "itemSize";
	bean.planName = "planName";
	bean.itemName = "itemName";
	bean.itemPoint = "itemPoint";
	
	
	function getPlanData(){
		var err = checkPlan();
		if(err != ""){
			alert(err);
			return false;
		}
		
		var data = {};
		var planName = "";
		var itemSize = "";
		var itemNameArr = new Array();
		var itemPointArr = new Array();
		
		$("#addPlanForm").serializeArray().forEach(function(val){
			
			if(val.name == bean.itemSize && !itemSize){
				itemSize = val.value;
			}
			
			if(val.name == bean.planName && !planName){
				planName = val.value;
			}
			
			if(val.name.indexOf(bean.itemName) != -1){
				itemNameArr.push(val.value);
			}
			
			if(val.name.indexOf(bean.itemPoint) != -1){
				itemPointArr.push(val.value);
			}
			
		});
		
		if(itemNameArr.length != itemSize 
		|| itemNameArr.length != itemPointArr.length){
			err = "提交参数异常:任务数量异常";
			alert(err);
			return false;
		}
		
		data.planName = planName;
		data.itemSize = itemSize;
		data.itemNameArr = itemNameArr;
		data.itemPointArr = itemPointArr;
		return data;
	}
	
	function checkPlan(){
		var err = "";
		
		var itemSize = $("#itemSize").val();
		if(!itemSize || itemSize <= 0){
			err = "子任务数量为0";
			return err;
		}
		
		var planName = $("#planName").val();
		if(!planName){
			err = "任务名不能为空";
			return err;
		}
		
		var itemNameInput = $("input[name^='itemName']");
		itemNameInput.each(function(i,val){
			if(!val.value){
				err = "子任务名不能为空";
				return err;
			}
		});
		
		return err;
	}
	/* 
	var arr[]; 
	$(":input[name='inp']").each(function(){ 
		arr.push($(this).val()); 
	});
	*/
	</script>
</body>
</html>